#square{
    width:20px;
    height: 20px;
    border: 2px solid black;
    display: block;

}
#container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
    border: 6px solid white;
    border-radius: 15px;
    padding: 20px;
    background-color: antiquewhite;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(216, 216, 216, 0.781);


}

.square {
    display: flex;
    width: 20px;
    height: 20px;
    border: 1px solid white;
}
/* .square:hover{
    background-color: black;
} */

#create{
    display:flex;
    justify-content: center;
    align-content: center;
    margin:auto;
    width: 100px;
    padding: 10px 25px;
    border-radius: 15px;
    border: none;
    background-color: antiquewhite;
    font-size: 22px;
    font-weight: 600;
}
#create:hover{
    background-color: white;
}
#header{
    margin: auto;
    margin-bottom: 50px;
    background-color: antiquewhite;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}