#square{
    width:20px;
    height: 20px;
    border: 2px solid black;
    display: block;

}
#container{
    display: flex;
    /* width: 500px; */
    flex-wrap: wrap;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.square {
    display: flex;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

#create{
    display:flex;
    justify-content: center;
    align-content: center;
    width: 60px;
}